#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

APPICON ICON DISCARDABLE "MinifyPNG.ico"

DLG_MAIN DIALOGEX 0,0,345,175
CAPTION ""
FONT 9,"Microsoft Yahei",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER|DS_MODALFRAME|DS_SHELLFONT|DS_3DLOOK
BEGIN
  CONTROL "请拖动要优化的PNG文件到本窗口（支持目录，递归三级）",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE,3,6,183,9
  CONTROL "",IDC_LST1,"ListBox",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_NOTIFY,3,18,339,155,WS_EX_CLIENTEDGE
  CONTROL "备份文件",IDC_CHK1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,186,6,39,9
  CONTROL "",IDC_PGB1,"msctls_progress32",WS_CHILDWINDOW|WS_VISIBLE,228,3,111,12
END

1 MANIFEST "./manifest.xml"

